[Unit]
Description=Configure SDDM Autologin for UID 1000
Before=sddm.service
ConditionPathExists=/usr/bin/configure-sddm-autologin

[Service]
Type=oneshot
ExecStart=/usr/bin/configure-sddm-autologin
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
